*{
  box-sizing: border-box;
  color:#027fc7;;
}

.mainContainer{
  max-width: 1470px;
  margin: 0 auto;
}

#alertPopup{
  height: 100px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 80px auto 10px;
}
.inputBox *{
  width: 200px;
  height: 30px;
  font-size: 20px;
}

.bmiBox{
  max-width: 480px;
  margin: 0 auto;
}

.bmiMarkPin{
  position: relative;
  height: 23px;
}

.bmiMarkPin .arrowMark{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #555;  
  position: relative;
  left: -15px;
}

.bmiRange{
  width: 480px;
  border-radius: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.bmiRange div{
  background-color: #555;
}
.bmiBox #sect1{
  border-right: 3px solid #fff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 25%;
  /* background-color: red; */
}

#sect2{
  border-right: 3px solid #fff;
  width:50%;
  /* background-color: green; */
}
#sect3{
  width: 25%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  /* background-color: blue; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.customMtr{
  height: 23px;
}

.bmiRange div span{
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
}

.colorsBlock{
  height: 30px;
  width: 100%;
  max-width: 600px;
  margin: 20% auto;
}

.colorsBlock div{
  width: 15px;
  height: 15px;
  margin:0 30px 15px 0;
}
.colorsBlock .red{
  background-color: red;
}
.colorsBlock .green{
  background-color: green;
}
.colorsBlock .pinkish{
  background-color: rgb(178, 118, 243);
}

.colorStd div p{
  margin-left: 20px;
  position: relative;
  top: -5px;
}